html, body {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  font-family: Lato;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 0;
  user-select: none;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  box-shadow: 0 0 3px 0 black;
  border: none;
  color: white;
}
button:hover {
  opacity: .75;
}
.full-dims {
  position: relative;
  width: 100%;
  height: 100%;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  box-shadow: 0 0 10px 0 black;
  box-sizing: border-box;
  overflow: hidden;
}
#blocklyContainer {
  background-color: black;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
  border: 10px solid #7C4518;
}
#viewContainer {
  width: 60%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 black;
  background-color: #e3e3e3
}
#blocklyDiv {
  overflow: auto;
  position: relative;
}
#instructions {

}
#generatedCode {
  border-top: 1px solid black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  white-space: pre;
}
#toggleGeneratedCode {
  width: 100%;
  padding: 0; /* 10px */
  cursor: pointer;
  background-color: #437194;
  color: white;
  box-sizing: border-box;
}
#toggleGeneratedCode:hover {
  opacity: .75;
}
#navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #e6e6e6;
  box-sizing: border-box;
  background: #212121;
  width: 100%;
  justify-content: space-around;
}
#buttonCancel {
  background-color: #e3e3e3;
  color: black;
}
#buttonSubmit {
  background-color: #4A9805;
}
#webglContainer {
position: fixed; 
overflow: hidden;
border-radius: 100px;
}
.blocklyToolboxDiv {
  background-color: #212121;
  color: white;
  width: auto;
}
.blocklyTreeRow {
  padding: 5px 10px;
  text-align: right;
  cursor: pointer;
}
.blocklyTreeRow:hover {
  color: black;
}
.blocklyFlyout {
  background: white;
  box-shadow: 0 0 10px 0 black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: auto;
}
.blocklyTreeLabel {
  cursor: pointer;
}
.max-size {
  max-width: 1200px;
}
.blocklyWorkspace {
  letter-spacing: normal;
}
.toolTip {
  position: absolute;
  top: auto;
  bottom: 0px;
  width: 50%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  z-index: 71;
}
.toolTip-character {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  height: 90px;
  z-index: 71;
  cursor: pointer;
  background: url('../images/idle.gif') no-repeat center center;
  background-size: contain;
}

.toolTip-message {
  position: relative;
  width: auto;
  height: 90%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  left: -15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
  background: #EEEEEE;
}
.toolTip-characterBubble {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  left: -15px;
  border-top: 13px solid transparent;
  border-right: 26px solid #EEEEEE;
  border-bottom: 13px solid transparent;
}

.toolTip-message::-webkit-scrollbar {
  position: relative;
  right: 15px;
  width: 5px;
}

/* Track */
.toolTip-message::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.toolTip-message::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 15px;
}

/* Handle on hover */
.toolTip-message::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #BBBBBB; 
}